body {
    background-color: #FBFAF1;
}

.d--header {
    border-bottom: solid 1px rgba(0,0,0,0.4);
    background-color: #534F7E;
    color: white;
    overflow: hidden;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    position: relative;
}

.d--header {
    display: block;
}

h1, h3 {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    font-weight: 200;
}

h1 {
    font-size: 34px;
    margin-block-start: 60px;
    margin-block-end: 0px;
}

h2 {
    text-align: center;
    color: black;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 28px;
    margin-bottom: 20px;
}

h3 {
    font-size: 28px;
    margin-block-start: 0px;
    margin-block-end: 60px;
}

p {
    font-size: 20px;
    font-weight: 380;
    margin-bottom: 0;
    text-align: justify;
}

td {
    padding-right: 20px;
}

tr {
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
}

.top-controls {
    padding: 24px 0;
    border-bottom: 1px solid #bbb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: white;
    display: flex;
    justify-content: space-between;
}

.mc-controls, .val-controls {
    display: flex;
    justify-content: center;
}

.top-controls-container, .mc-controls-container, .val-controls-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.val-controls-container {
    margin-bottom: 12px;
    justify-content: space-between;
}

.mc-controls-container, .val-controls-container {
    align-items: center;
}

.control-project, .control-database, .control-activity, .output-lcia, .control-amount, .control-method {
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 6px;
    display: block;
}

.control-project, .control-database, .control-activity, .output-lcia {
    max-width: 240px;
    min-width: 240px;
}

.control-amount {
    max-width: 80px;
    min-width: 80px;
}

.output-lcia {
    border-bottom: 1px solid #bbb;
    margin-top: 0px;
}

.control-method {
    max-width: 340px;
    min-width: 340px;
}

.control-iterations, .control-random-seed, .btn-start-mc, .btn-cancel-mc {
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: block;
}

.val-min, .val-max, .val-step, .val-slider, .val-iterations {
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: block;
}

.btn-start-val, .btn-cancel-val {
    flex-grow: 1;
    margin-left: 12px;
    margin-right: 34px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: block;
}

.val-slider {
    max-width: 100%;
    min-width: 100%;
}

.val-graph {
    margin-top: 30px;
}

.control-iterations, .control-iterations-chunk, .control-random-seed, .val-min, .val-max, .val-step, .val-iterations {
    max-width: 125px;
    min-width: 125px;
}

.btn-start-mc, .btn-cancel-mc, .btn-start-val, .btn-cancel-val  {
    max-width: 100px;
    min-width: 100px;
    height: 40px;
}

.tabs {
    padding: 24px 0;
    background: white;
    display: flex;
    justify-content: space-between;
}

.tabs-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    margin-top: 24px;
}

.label {
    margin-left: 0px;
}

.Select--single>.Select-control .Select-value, .Select-placeholder,   .Select-arrow-zone, .Select-input, .Select-value-label {
    padding: 0px;
}

.is-focused:not(.is-open)>.Select-control {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-color: #593196;
}

.Select-clear-zone {
    display: none !important;
}

.Select-control {
    border: 0 !important;
    border-bottom: 1px solid #bbb !important;
    border-radius: 0px !important;
}

.form-control {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: 5px;
    border: 0px;
    border-bottom: 1px solid #bbb;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0);
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0);
}

.score-unit {
    margin-top: 6px;
    color: var(--bs-red);
    font-size: 22px;
}

.score {
    margin-right: 8px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #FBFAF1;
}

.nav-item {
    font-size: 18px;
}

.nav-tabs .nav-link.active {
    color: var(--bs-primary);
    font-weight: 600;
}

.tab-content {
    display: flex;
    justify-content: space-between;
    min-width: 800px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

.tab-motivation{
    display: block;
    flex-grow: 1;
    width: 1100px;
}

.tab-propagation{
    display: block;
    flex-grow: 1;
    width: 1400px;
    box-color: red;
}

.tab-sensitivity{
    width: 1400px;
}

.tab-validation{
    width: 1400px;
}

.mc-progress {
    width: 80%;
    margin-left: 20px;
    padding: 0px;
    display: block;
    height: 20px;
}

.mc-progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.linearity-graph {
    height: 17vh;
}

.break-line {
    height: 40px;
}

.rc-slider-rail {
    color: red !important;
}
